<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oscar Winners and Nominees App</title>
  </head>
  <body>
    <a href="/oscars">See All Actors</a>
    <h1>Welcome to the Oscar winner and nominee catalog!</h1>
    <p>An app for seeing if an actor has won an Oscar.</p>    
  </body>
</html>