<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oscar Winner and Nominee Index</title>
  </head>
  <body>
    <h1>All Oscar Winners and Nominees</h1>
    <a href="/oscars/new">Add missing Oscar Winner or Nominee</a>
    <ul>
        <% oscars.forEach(actor => { %>
            <li><a href="/oscars/<%= actor._id %>"><%= actor.name %></a></li>
        <% }) %>
    </ul>
  </body>
</html>